body {
    align-content: center;
    justify-content: center;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.inlinebox {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.bodyA {
    margin: 5px;
    display: flex;
    justify-content: center;
    height: 20%;
}

.buttons {
    margin: 5px;
    margin-top: auto;
    margin-bottom:auto;
    width: 15%;
    display: inline-block;
}

.button {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

select {
    height: 80%;
    width: 200px;
}
