<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information</title>
</head>
<body>
    <div class="background"></div>

        <div class="content">
            <h1>Information</h1>
            <div class="infoview">
                <div class="topline"><button class="exitbtn">X</button></div>
                <div class="info">
                    <ul>
                        <li>
                            <div class="infoline">
                                <label for="login">Login</label>
                                <input type="text" name="login" value="Vasilii22" id="login" readonly="readonly">
                            </div>
                        </li>
                        <li>
                            <div class="infoline">
                                <label for="Password">Password(Hashcode)</label>
                                <input type="text" value="447549cccb012e9a5fba33fb47a807c6" id="password" readonly="readonly">
                            </div>
                        </li>
                        <li>
                            <div class="infoline">
                                <label for="E-mail">E-mail</label>
                                <input type="text" value="Boss@mail.com" name="e-mail" readonly="readonly">
                            </div>
                        </li>
                        <li>
                            <div class="infoline">
                                <label for="Password">Name</label>
                                <input type="text" value="Vasili" id="name" readonly="readonly">
                            </div>
                        </li>
                        <li>
                            <div class="infoline">
                                <label for="Surname">Surname</label>
                                <input type="text" value="Pupkin" id="surname" readonly="readonly">
                            </div>
                        </li>
                        <li>
                            <div class="infoline">
                                <label for="Birthdate">Birth date</label>
                                <input type="date" value="2004-09-09" id="birthdate" readonly="readonly">
                            </div>
                        </li>
                        <li>
                            <div class="infoline">
                                <label for="Gender">Gender</label>
                                <input type="text" value="Male" id="gender" readonly="readonly">
                            </div>
                        </li>
                    </ul>
                    <button class="actionbtn" id="deletebtn">Delete</button>
                    <button class="actionbtn" id="editbtn">Edit</button>
                    <button class="actionbtn" id="cancelbtn">Cancel</button>
                </div>
            </div>
        </div>
</body>
</html>