<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Nav</title>
	<link rel="stylesheet" href="style/style.css">
</head>
<body>
	<div class="background"></div>
		<div class="container">
			<nav class="top-nav">
				<a href="#">Log in</a>
				<a href="Re gistration.html">Sign up</a>
				<a href="https://google.com">Google</a>
				<a href="https://youtube.com">YouTube</a>
		 	</nav>
		 </div>
</body>
</html>